.aside-container {
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 100vh;
  overflow: auto;
  // position: fixed;
  top: 0px;
  left: -280px;
  z-index: 17;
  background: #dfdfdf;
  box-shadow: 0 2px rgb(0 0 0 / 50%);

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;
  }

  span {
    display: none;
  }

  div:nth-child(2) {
    > div {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;

      gap: 15px;

      list-style: none;

      margin: 0;
      padding: 20px 10px;

      a {
        text-decoration: none;
      }
    }
  }
}
